.office {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, minmax(300px, 1fr));
  grid-template-areas:
    "title title"
    "in-office out-office";
  padding: 1rem;

  &__header {
    grid-area: title;
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 2rem;
  }

  &__in,
  &__out {
    padding: 1rem;
  }
}

.employee {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 0 1px 0 whitesmoke;
  padding-block: 1rem;
}

