.movies {
  padding: 1rem;

  &__search {
    display: flex;
    padding-block-end: 1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
}

.movie {
  background-color: whitesmoke;
}
